body {
    background-color: rgb(23, 27, 28);
    font-family: Helvetica-Bold, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.head {
    font-size: 32px;
    display: flex;
    justify-content: center;
    color: rgb(226, 222, 215);
    margin-top: 48px;
}

.player-container {
    color: white;
}

.player-name {
    font-weight: 800;
}

.player-position {
    font-size: 14px;
}

.player-image {
    background-color: black;
}

.players {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
}

.player-info {
    display: flex;
    flex-direction: column;
}

.player-number {
    font-weight: 800;
    font-size: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

li {
    list-style: none;
    color: white;
}

.header-info {
    display: flex;
}

.header-info {
    font-size: 18px;
    gap: 10px;
    justify-content: flex-start;
    margin: 0;
    padding: 8px;
}

.header {
    display: flex;
    background-color: rgb(50, 50, 50);
    position: fixed;
    top: 0;
    width: 100%;
}

.header-logo {
    display: flex;
    justify-content: center;
    max-width: 38px;
    min-height: 38px;
    flex-shrink: 0;
}

.logo {
    width: 38px;
    height: auto;
    flex-shrink: 0;
}