body {
    background-color: #333333;
}

.header {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    color: white;
    font-family: Helvetica-Bold, "Helvetica Neue", Arial, sans-serif;
}

.player-container {
    color: white;
    font-family: Helvetica-Bold, "Helvetica Neue", Arial, sans-serif;
}

.player-name {
    font-weight: 800;
}

.player-position {
    font-size: 14px;
}

img {
    background-color: black;
}

.players {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.player-info {
    display: flex;
    flex-direction: column;
}

.player-number {
    font-weight: 800;
    font-size: 42px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}